.bigger h1 {
  font-size: 8em;
}

.presentation_title h1 {
  font-size: 15em;
  letter-spacing: -0.005em;
}

.presentation_title h2 {
  font-size: 6em;
  font-variant: small-caps;
  letter-spacing: -0.05em;
  margin-top: -0.75em;
}

.main_topic h1 {
  font-size: 10em;
  font-variant: small-caps;
}

.sub_topic h1 {
  font-size: 8em;
  font-variant: small-caps;
}

.basic-image {
  background-color: #111;
}

.basic-image img {
  width: 100%;
}

.basic-image p {
  font-size: 1em;
  color: #fefefe;
}

.basic-image h1 {
  font-family: Helvetica;
  text-align: left;
  letter-spacing: -0.02em;
  position: absolute;
  padding: 0.5em 0 0.5em 0.5em;
  -webkit-border-radius: 10px;
}

.happy h1 {
  background-color: #ddd;
  left: 50px;
  top: 100px;
  width: 35%;
}

.proud h1 {
  background-color: #222;
  color: #eee;
  left: 200px;
  top: 50px;
  width: 75%;
  font-size: 4em;
}

.frustrated img {
  width: 55%;
}

.disappointed h1 {
  background-color: #222;
  color: #eee;
  left: 635px;
  top: 40px;
  width: 32%;
  font-size: 3.5em;
}

.worried {
  background-color: #eee;
}

.worried img {
  width: 70%;
}

.worried h1 {
  background-color: #222;
  color: #eee;
  left: 650px;
  top: 20px;
  width: 30%;
  font-size: 3.5em;
}

.sad h1 {
  background-color: #222;
  color: #eee;
  left: 50px;
  top: 610px;
  width: 80%;
  font-size: 2.8em;
}

.act-intro h1 {
  text-decoration: underline;
  font-size: 7em;
  letter-spacing: -0.04em;
}

.act-intro ul li {
  font-size: 1.5em;
  padding: 0.12em;
  margin: 0.1em 0;
}

.w-intro h1 {
  font-size: 40em;
  margin: -0.15em 0 0 0;
  padding: 0;
}

.wtf-intro h1 {
  font-size: 25em;
  margin: -0.15em 0 0 0;
  padding: 0;
}

.single-point-intro h1 {
  margin-top: -0.25em;
  font-size: 9em;
  text-decoration: underline:
}

.single-point-intro p {
  font-size: 4.5em;
}

.description-list h1 {
  font-size: 7em;
  letter-spacing: -0.04em;
}

.description-list ul li {
  font-size: 1.5em;
  padding: 0.12em;
  margin: 0.1em 0;
}

.srs-bsns h1 {
  font-size: 7.5em;
  margin-top: 0.25em;
  text-align: center;
}

.single-point h1 {
  margin: 0 0.5em;
  font-size: 7.5em;
  text-align: center;
}

.single-point p {
  font-size: 4.5em;
}

.compiled-code {
  margin-left: 1em;
  font-size: 2em;
}

.tools-quote h1 {
  font-size: 8em;
  padding-left: 0.5em;
  width: 80%;
}

.tools-quote h2 {
  text-align: right;
  padding-right: 2.5em;
}

#preso {
  zoom: 0.80;
  -moz-transform: scale(0.80);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.80);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.80);
  -webkit-transform-origin: 0 0;*/
}

[alt~=EngineYard] {
  width: 80%;
}
