.bigger h1 {
  font-size: 8em;
}

.presentation_title h1 {
  font-size: 10em;
}

.presentation_title h2 {
  font-size: 6em;
  font-variant: small-caps;
}

.main_topic h1 {
  font-size: 10em;
  font-variant: small-caps;
}

.sub_topic h1 {
  font-size: 8em;
  font-variant: small-caps;
}
